p1{
    color: orange;
    font-family: sans-serif;
    font-size: 150%;
}

#Header{
    font-size: 30;
    color: rgba(24, 40, 159, 0.774);
    border-style:double;
    text-align: center;
}

#color_violet{
    color: violet;
}

.blooming_light{
    color: yellow;
    font-size: xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.important{
    color:white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

#test{
    font-size: large;
    text-align: center;
    background-color: lightblue;
    border-style: line;
    border-color: blue;
    border: 2px solid navy;
    width: auto;
    padding: 20px;
}

#text-flying{
    font-size: large;
    border-style: dashed;
    border: 15px;
    padding: 80px;
    background-color: chocolate;
}

a{
    color:red;
}

a:hover{
    color:purple;
}

#thick{
    border-style: double;
    border:10px solid gold;
    width:70px;
    background-color: antiquewhite;
    border-color: blueviolet;
    text-size-adjust: calc();
    font-size:x-small;
}

#image-flying{
    border: 5px solid black;
    background-color: blue;
    font-size: larger;
    font-style: italic;
    padding: 50px;
    align-items: start;
}

#corner{
    text-align:right;
}