body{
    background-color: purple;
}

.p1{
    color: orange;
    font-family: sans-serif;
    font-size: 150%
}

a{
    color:red;
}

a:hover{
    color:purple;
}


#Header{
    font-size: 30px;
    color: rgba(24, 40, 159, 0.774);
    border-style:double;
    text-align: center;
    background-color: black;
}

#color_violet{
    color: violet;
}

#blooming_light{
    color: yellow;
    font-size: xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#test1{
    font-size: large;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: blue;
    border: 2px solid navy;
    width: auto;
    padding: 20px;
}

#text-flying{
    font-size: large;
    border-style: dashed;
    border: 15px solid chocolate;
    padding: 80px;
    background-color: chocolate;
}

#thick{
    border-style: double;
    border:10px solid gold;
    width:70px;
    background-color: antiquewhite;
    border-color: blueviolet;
    font-size: x-small;
    font-size:x-small;
}

#image-flying{
    border: 5px solid black;
    background-color: blue;
    font-size: larger;
    font-style: italic;
    padding: 50px;
}

#corner{
    text-align:right;
}
